**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
x = input("Enter a str: ")

counter = 0 

for i in x:
      counter = counter+1
print("Length=  ", counter)

In [ ]:
x = input("Enter a str: ")
print("Length=", len(x))

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
 name= input()
if len(name) <2 :
    print(name)
else:
    print(name[0:2] + name[-2: ])

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
x= input("enter the st")
if len(x) < 3:
    print(x)
else:
    if x[-3:]=="ing":
        print(x +"ly")
    else:
        print(x+"ing")

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
l=["ahmed","mohamed","amr","sherif"]
def returnword():
    counter = 0
    maxword = None
    for word in l:
        if len(word) > counter:
        counter= len(word)
        maxword = word
        
    return counter, maxword

returnword()

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
name= input()
print(name[-1]+ name[1:-1] + name[0])

In [ ]:
name= input()
a=name[0]
b=nmae[-1]
print(b+name[1:-1]+a)

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
name = "sherif mohamed "
print(name[0::2])

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
word ="hallo People , I play M M A "
words=string.split()
for i in words:
    print(i,word.count(i))

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
name= input("Enter  name please ")
print(name.upper())
print(name.lower())

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [1]:
name = input("name please")
if len(name)% 4==0 :
    print(name[::-1])
else:
    print(name)

name please!sherif amar
sherif amar

**10- Write a Python program to remove a newline in Python

In [ ]:
string = """sherif
mohamed
amar
"""
string = string.replace("\n"," ")

string

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
name=input("enter your name")
ch ="A"
if name.stratswith(ch):
    print("yes")
else:
    print("no")

if name[0] == ch:
    print("okay")
else:
    print("no okay")

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
name = '''sherif is the best
ahmed is the leader
amar is very good
'''
lines = name.splitlines()
for line in lines:
    print("eng.",line)

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
number = 2.6548
round(number, 2)

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
x = 5.4572545
y = -9.557485
print("\nOriginal Number: ", x)
print("Formatted Number with sign: "+"{:+.2f}".format(x));
print("Original Number: ", y)
print("Formatted Number with sign: "+"{:+.2f}".format(y));
print()

**15-Write a Python program to display a number with a comma separator

In [ ]:
number = 18.54
newnamber = str(number)
newnamber.replace(".",",")

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
name = "sherif mohamed amar"
reversedname = name[::-1]
reversedname

In [ ]:
name = "sherif mohamed mahmoud amar"[::-1]
print(name)

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
name = "sherif amar"
chs = []
for i in name:
    chs.append(i)
mydic =dict()
for i in chs:
    mydic[i] = name.count(i)
mydic

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
name = "el shekh zayed"
for i in name:
    if name.count(i) == 1:
        print(i)
        break

**19-Write a Python program to remove spaces from a given string

In [ ]:
name = "sherif mohamed amar"
newname=name.replace(" ","")
newname

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
def number_of_substrings(str): 
    str_len = len(str); 
    return int(str_len * (str_len + 1) / 2); 

str1 = input("Input a string: ")
print("Number of substrings:") 
print(number_of_substrings(str1))

**21-write a Python program to swap first and last element of any list.

In [ ]:
x = ["Ahmed","omar","saad"]
x[0] , x[-1] =x[-1] ,x[0]
x

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [25]:
l = [23,65,19,90]
pos1 = int(input("enter number"))
pos2 = int(input("enter number"))
l[pos1] ,l[pos2] = l[pos2] ,l[pos1]

enter number2
enter number3

**23- search for the all ways to know the length of the list

In [ ]:
l = [10, 20, 30]
n = len(li)
print("The length of list is: ", n)

In [ ]:

test_list = [1, 4, 5, 7, 8]
 
print("The list is : " + str(test_list))
 
counter = 0
for i in test_list:
 
    counter = counter + 1
    print("Length of list using naive method is : " + str(counter))

In [ ]:
list1 = [1, 4, 5, 7, 8]
s = 0
for i, a in enumerate(list1):
    s += 1
print(s)

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
max([2,5,6,49,85,100,501])

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
min([15,2,6,97,0])

**26-search for if an elem is existing in list

In [ ]:
lst=[ 1, 6, 3, 5, 3, 4 ]

i=7

if i in lst:
    print("exist")
else:
    print("not exist")

**27- clear python list using different ways

In [16]:
l =[1,2,8,9,6]
l.clear()
l

[]

**28-remove duplicated elements from a list

In [17]:
l =[1,2,8,9,6,1,1]
l=set(l)
l=list(l)
l

[1, 2, 6, 8, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
{
    "test_lis"[“Gfg”, 3, “is”, 8], key_list = [“name”, “id”] Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])
}

**30-write a python program to count unique values inside a list using different ways

In [ ]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
 
l1 = []
 
count = 0
for item in input_list:
    if item not in l1:
        count += 1
        l1.append(item)
    print("No of unique items are:", count)

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = int(input())
res = []
for i in test_list:  
    freq = test_list.count(i)
    if freq > K and i not in res:
        res.append(i)
print("The required elements : " + str(res))

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:

def mar(arr1, n):
    arr2 = [] 
    for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)
    for ele in arr2 :
        print(ele,end=" ")
if __name__ == "__main__" :
   
    n = 6 
arr1 = [1,2,2,3,4,5]
   
mar(arr1, n)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:

from itertools import permutations
  
comb = permutations([1, 2, 3], 3)
  
for i in comb:
    
    print(i)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])**

In [ ]:
from itertools import combinations
test = [1,2,3]
idx=0
temp = combinations(test, 2)
for i in list(temp):
    idx = idx+1
    print ("Combination", idx, ": ", i)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [53]:

list_1 = ["a", "b"]
list_2 = [1,2]
 
unique_combinations = []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique_combinations.append((list_1[i], list_2[j]))

print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [54]:
test_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
z=1
x=[i for i in test_list if i!=z]
print(x)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:

test_list1 = ['sherif', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
 
print("The list 1 is : " + str(test_list1))
print("The list 2 is : " + str(test_list2))
 

res = [test_list1[idx] for idx in test_list2]
             

print ("The lists after index elements replacements is : " + str(res))

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [ ]:

test_list = [(4, 5, 5, 4), (5, 4, 3), (4, 4, 4), (3, 4, 9)]
 

print("The original list is : " + str(test_list))
 

K = 5
 

N = 2
 
res = [ele for ele in test_list if ele.count(K) == N]
 
print("Filtered tuples : " + str(res))

K = 5
 
N = 3
 
res = [ele for ele in test_list if ele.count(K) == N]
 
print("Filtered tuples : " + str(res))

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
def sortarray(array):
     
    for i in range(len(array[0])):
         
       
        sortedcolumn = sorted(array, key = lambda x:x[i])
         
       
        print("Sorted array specific to column {}, \
        {}".format(i, sortedcolumn))
     

if __name__ == '__main__':
     
    array = [['java', 1995], ['c++', 1983],
             ['python', 1989]]
     
    sortarray(array)


40- write a program to Sort Python Dictionaries by Key or Value

In [ ]:
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
myDict = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sortedd = {i: myDict[i] for i in myKeys}
 
print(sortedd)

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:

test_dict = {'a' : 3, 'is' : 7, 'b' : 10, 'c' : 6, 'd' : '10'}
 
print("The original dictionary is : " + str(test_dict))
 
K = 6
 
res = {key : val for key, val in test_dict.items() if not (isinstance(val, int) and (val > K))}
         
print("The constructed dictionary : " + str(res))

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:

 
Example = { 'w': 'g', 'm': 'o', 'a': 'r', 'B': 'u'}
 
print('List Of given capitals:\n')
 
for i in Example.values():
    print(i)

**44- Write a Python script to merge two Python dictionaries

In [ ]:
def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:

playlist = {'Xbox':100, 'PS5':1292, 'PS4' : 888}
 
xmax = max(playlist, key= lambda x:playlist[x])
print(xmax)

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}
print("Original Dictionary:")
print(dict1)
print("New Dictionary after dropping empty items:")
dict1 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict1)

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:

tuplex = 5, 10, 15, 20, 25
print(tuplex)

tuplex = 5,
print(tuplex)

**48-Write a Python program to unpack a tuple into several variables

In [ ]:

tuplex = 4, 8, 3 
print(tuplex)
x, y, z= tuplex

print(x + y + z) 

x ,y ,z = tuplex

**49-Write a Python program to add an item to a tuple

In [ ]:

x = (4, 6, 2, 8, 3, 1) 
print(x)

x = x + (9,)
print(x)
x = x[:5] + (15, 20, 25) +x[:5]
print(x)
listx = list(x) 
listx.append(30)
x = tuple(listx)
print(x)

**50-Write a Python program to convert a tuple to a string

In [ ]:

'''Input : ('H', 'e', 'l', 'l', 'o')
Output : Hello'''
def convert(tup):
  
    str = ''
    for item in tup:
        str = str + item
    return str
 
tuple = ('H', 'e', 'l', 'l', 'o')
str = convert(tuple)
print(str)

**51-Write a Python program to convert a list to a tuple

In [ ]:
def convert(list):
    return tuple(list)
 

list = [1, 2, 3, 4]
print(convert(list))

**52-Write a Python program to reverse a tuple

In [ ]:
x = ("w3resource")

y = reversed(x)
print(tuple(y))

x = (5, 10, 15, 20)

y = reversed(x)
print(tuple(y))

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [40]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([i[:-1] + (100,) for i in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print("Original string:")
print(str1)
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
result = [sum(x) / len(x) for x in zip(*nums)]
result

**56-Write a Python program to add member(s) to a set.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:

A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
print("Union :", A | B)
  
print("Intersection :", A & B)
  
print("Difference :", A - B)
  
print("Symmetric difference :", A ^ B)

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:

setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:

lst = [1, 5, 3, 7, 9]
K = 12
result = []
seen = set()
 
for num in lst:
    complement = K - num
    if complement in seen:
        result.append((num, complement))
    seen.add(num)
print(result)

In [ ]:
def find_pairs(lst, K):
    result = []
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[i] + lst[j] == K:
                result.append((lst[i], lst[j]))
    return result
lst = [1, 5, 3, 7, 9]
K = 12
print(find_pairs(lst, K))

In [ ]:


from collections import Counter
 
def findPairs(lst, K):
    res = []
    count = Counter(lst)
 
    for x in lst:
        y = K - x
        if (x != y and count[y]) or (x == y and count[y] > 1):
            res.append((x, y))
            count.subtract((x, y))
             
    return res
     

lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))